anyio==3.6.1

argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.8
attrs==22.1.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.4


certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
click==8.0.3
colorama==0.4.4

contourpy==1.0.5
cryptography==3.4.8

cycler==0.11.0
dbus-python==1.2.18
debugpy==1.6.3
decorator==5.1.1

Django==4.1.2
djangorestframework==3.14.0
dnspython==2.1.0

fonttools==4.37.4

httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4


oauthlib==3.2.0
olefile==0.46
packaging==21.3
pandocfilters==1.5.0
paramiko==2.9.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.1
plyer==2.0.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.12.4

psutil==5.9.0

PyJWT==2.3.0
pyler==0.2.0


reportlab==3.6.8
requests==2.25.1
requests-toolbelt==0.9.1
SecretStorage==3.3.1
semantic-version==2.8.5

stack-data==0.5.1
systemd-python==234
terminado==0.16.0
tinycss2==1.1.1

urllib3==1.26.5

webencodings==0.5.1
websocket-client==1.4.1
Werkzeug==2.2.2
whitenoise==6.2.0

