
{% include "main.html" %}
{% if page == 'login' %}

 <div>
    <form method="POST" action="">

        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username">

        <label>Password:</label>
        <input type="text" name="password" placeholder="Enter Password">
        
        <input type="submit" value="Login">
    </form>

 </div>
 <p>haven't signed up already</p>
 <a href="{% url 'register' %}">Sign up</a>

 {% else %}


 <div>
    <form method="POST" action="">

        {% csrf_token %}
        {{form.as_p}}
        
        <input type="submit" value="Register">
    </form>

    <p>Already signed up </p>
    <a href="{% url 'login' %}">Login</a>

 </div>

 {% endif %}






