{% include "main.html"%}
{% block content %}
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {% include "topics.html"%}
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="https://randomuser.me/api/portraits/men/11.jpg" />
            </div>
          </div>
          <div class="profile__info">
            <h3>{{user.username}}</h3>
            <p>@{{user.username}}</p>
            {% if request.user == user %}
            <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              A dedicated platform for developers to share diverse ideas on programming, software development, web development
              and mobile apps development.Great things happen when we come together developers!!!
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Learning Dev Rooms Hosted by Andrea</a>
            </h2>
          </div>
        </div>
        {% include "feed_component.html"%}
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include "activity.html"%}
      <!-- Activities End -->
    </div>
  </main>
{% endblock %}